# Dependencies
/node_modules
/.pnpm-store

# Next.js
/.next/
/out/

# Production Build
/build
/dist

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage
/test-results
/playwright-report
/blob-report
/test-results/

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Gemini CLI / Temporary
.gemini/tmp/
.gemini/cache/
.vercel


*.png
*.log
test.md